* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

html {
 height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header.pageHeader {
  padding: 30px;
  background-color: rgb(48, 48, 48);
  color: white;
}

main {
  display: flex;
  flex: 1;
}

nav {
  padding: 30px;
  background-color: grey;
  min-width: 15vw;
}

nav button {
  border: none;
  background-color: grey;
  font-size: 18px;
}

nav .projectDiv {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

nav .newProjectButton {
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  background-color: rgb(136, 70, 91);
  color: white;
}

nav .newProjectButton:hover {
  background-color: rgb(69, 35, 45);
  transition: 0.2s;
}

nav .listTitle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

nav .projectList .button {
  font-size: 18px;
  margin-bottom: 10px;
}

nav .projectList .deleteButton {
  margin-left: auto;
}

nav .projectList .projectNameButton:hover,
nav .projectList .deleteButton:hover {
  font-weight: bold;
  font-size: 20px;
  transition: 0.15s;
}

.projectContent {
  width: 60vw;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.projectContent .projectTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.projectDescription {
  font-size: 22px;
  margin-bottom: 10px;
}

.projectContent .addTaskButton {
  border: none;
  font-size: 23px;
  text-align: left;
  margin-bottom: 20px;
  padding: 15px 25px;
  border-radius: 20px;
}

.projectContent .addTaskButton:hover {
  color: white;
  background-color: rgb(54, 54, 54);
  transition: 0.3;
}

.projectTasks div {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: rgb(185, 185, 185);
}

.projectTasks div::hover {
  background-color: rgb(225, 225, 225);
 
}

.projectTasks div.lowPriority {
  border-left: 7px solid rgb(1, 168, 1);
}

.projectTasks div.mediumPriority {
  border-left: 7px solid orange;
}

.projectTasks div.highPriority {
  border-left: 7px solid rgb(255, 72, 0);
}

footer {
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color: rgb(48, 48, 48);
  color: white;
  font-size: 22px;
  text-decoration: none;
}

footer a {
  color: white;
  text-decoration: none;
}

footer img {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}

.modal {
  display: none;
  /* display: flex; */
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.taskModal {
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalContent  {
  border: 5px solid black;
  background-color: gray;
  padding: 25px;
  width: 30%;
  margin: auto;
  position: relative;
  margin-top: 150px;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

.modal-header {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 25px;
}

.modal-body {
  font-size: 20px;
}

.modal-body label {
  min-width: 150px;
  display: inline-block;
}

.closeButton {
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.wrapper {
  margin-bottom: 10px;
}

button[type="submit"] {
  font-size: 17px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  align-self: center;
  }

button.editButton {
  margin-left: auto;
}